build
servidor/build
.cproject
.project
servidor/dbTest
*.log
*.json
.idea/*
servidor/test/dbTest
servidor/Documentation
app/Documentation
Documentation/docClient
Documentation/docServer
Documentation/_build
Documentation/cov