language:
  - cpp
  
compiler:
  - clang
#  - gcc

before_install:
#  - sudo apt-get update -qq
#  - sudo apt-get install -y -qq gcc-4.9 g++-4.9
  - sudo apt-get update
  - sudo apt-get install libgtest-dev
  - sudo apt-get install  zlib1g-dev libbz2-dev libsnappy-dev
  - wget https://github.com/facebook/rocksdb/archive/master.zip
  - sudo apt-get install unzip
  - unzip master.zip
  - cd rocksdb-master && make static_lib && make shared_lib && make install && make all
  - "cd /usr/src/gtest && sudo cmake . && sudo cmake --build . && sudo mv libg* /usr/local/lib/ ; cd -"
  - sudo pip install cpp-coveralls

before_script:
  - mkdir servidor/build
  
script: 
  - cd servidor/build && cmake -DINCLUIR_TEST=ON .. && make && make test

after_success:
  - coveralls --exclude lib --exclude tests --gcov-options '\-lp'