language:
  - cpp
compiler:
  - clang
#  - gcc

before_install:
#  - sudo apt-get update -qq
   - sudo apt-get -y install software-properties-common
   - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
   - sudo add-apt-repository -y ppa:george-edison55/cmake-3.x
   - sudo add-apt-repository -y ppa:fkrull/deadsnakes
   - sudo apt-get update
   - sudo apt-get install -y -qq gcc-4.9 g++-4.9 clang-3.5 libgtest-dev zlib1g-dev libbz2-dev libsnappy-dev
   - sudo apt-get install -y wget
   - sudo apt-get install -y cmake
   - sudo apt-get install -y unzip 
   - sudo apt-get install -y python-pip
   - sudo pip install cpp-coveralls
   - sudo apt-get install -y python2.7
   - wget https://github.com/open-source-parsers/jsoncpp/archive/master.zip
   - unzip master.zip
   - cd jsoncpp-master/
   - sudo python amalgamate.py
   - mkdir -p build/debug
   - cd build/debug
   - cmake -DCMAKE_BUILD_TYPE=debug -DBUILD_STATIC_LIBS=ON -DBUILD_SHARED_LIBS=OFF -DARCHIVE_INSTALL_DIR=. -G "Unix Makefiles" ../..
   - "make && sudo make install"
   - "cd ../.. && sudo rm master.zip"
   - wget https://github.com/NickCis/rocksdb/archive/master.zip
   - unzip master.zip
   - cd rocksdb-master
   - make static_lib
   - make shared_lib
   - sudo make install
   - "cd ../ && sudo rm master.zip"
   - "cd /usr/src/gtest && cmake . && cmake --build . && sudo mv libg* /usr/local/lib/ ; cd -"

before_script:
  - mkdir servidor/build
script: 
  - "cd servidor/build && cmake -DINCLUIR_TEST=ON .. && make && make test"

after_success:
  - coveralls --exclude lib --exclude tests --gcov-options '\-lp'