language:
  - cpp
compiler:
#  - clang
  - gcc

before_install:
#  - sudo apt-get update -qq
   - sudo apt-get -y install software-properties-common
   - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
   - sudo add-apt-repository -y ppa:george-edison55/cmake-3.x
   - sudo add-apt-repository -y ppa:fkrull/deadsnakes
   - sudo apt-get update
   - sudo apt-get install -y -qq gcc-5 g++-5 clang-3.5 libgtest-dev zlib1g-dev libbz2-dev libsnappy-dev
   - sudo apt-get install -y wget cmake unzip python-pip python2.7 libgtest-dev
   - sudo pip install cpp-coveralls
   - wget https://github.com/NickCis/rocksdb/archive/master.zip
   - unzip master.zip
   - cd rocksdb-master
   - make static_lib
   - make shared_lib
   - sudo make install
   - sudo ln -s /usr/local/bin/g++-5 /usr/local/bin/g++
   - "cd ../ && sudo rm master.zip"
   - "cd /usr/src/gtest && sudo cmake . && sudo cmake --build . && sudo mv libg* /usr/local/lib/ ; cd -"

install:
   - export CXX="g++-5"
   - g++ --version
before_script:
  - mkdir servidor/build
script: 
  - "cd servidor/build && cmake -DINCLUIR_TEST=ON .. && make && make test"

after_success:
  - coveralls --exclude lib --exclude tests --gcov-options '\-lp'
