language:
  - cpp
  
compiler:
  - clang
#  - gcc

before_install:
#  - sudo apt-get update -qq
#  - sudo apt-get install -y -qq gcc-4.9 g++-4.9
  - sudo apt-get update
  - sudo apt-get install libgtest-dev
  - "cd /usr/src/gtest && sudo cmake . && sudo cmake --build . && sudo mv libg* /usr/local/lib/ ; cd -

before_script:
  - mkdir servidor/build
  
script: 
  - cd servidor/build && cmake -DINCLUIR_TEST=ON .. && make 
