language:
  - cpp
compiler:
  - clang
#  - gcc

before_install:
#  - sudo apt-get update -qq
   - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
   - sudo add-apt-repository -y ppa:george-edison55/cmake-3.x
   - sudo apt-get update
   - sudo apt-get install -y -qq gcc-4.9 g++-4.9 libgtest-dev zlib1g-dev libbz2-dev libsnappy-dev
   - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 50
   - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 50
   - sudo apt-get -y upgrade
   - wget https://github.com/sloiza/rocksdb-travis/archive/master.zip
   - sudo apt-get install unzip 
   - unzip master.zip
   - cd rocksdb-travis-master/ROCKS/ 
   - "sudo make clean && sudo make install"
   - cd ../..
   - "cd /usr/src/gtest && sudo cmake . && sudo cmake --build . && sudo mv libg* /usr/local/lib/ ; cd -"
   - sudo pip install cpp-coveralls

before_script:
  - mkdir servidor/build
script: 
  - cd servidor/build && cmake -DINCLUIR_TEST=ON .. && make && make test

after_success:
  - coveralls --exclude lib --exclude tests --gcov-options '\-lp'