language:
  - cpp
compiler:
  - clang
#  - gcc

before_install:
#  - sudo apt-get update -qq
   - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
   - sudo add-apt-repository -y ppa:george-edison55/cmake-3.x
   - sudo add-apt-repository -y ppa:fkrull/deadsnakes
   - sudo apt-get update
   - sudo apt-get install -y clang-3.6
   - sudo apt-get install -y python2.7
   - sudo apt-get install -y -qq gcc-4.9 g++-4.9 libgtest-dev zlib1g-dev libbz2-dev libsnappy-dev
   - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 50
   - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 50
   - sudo apt-get install unzip 
   - wget https://github.com/open-source-parsers/jsoncpp/archive/master.zip
   - unzip master.zip
   - cd jsoncpp-master/
   - mkdir -p build/
   - cd build/
   - cmake -DCMAKE_BUILD_TYPE=debug -DBUILD_STATIC_LIBS=ON -DBUILD_SHARED_LIBS=OFF -DARCHIVE_INSTALL_DIR=. -G "Unix Makefiles" ..
   - "sudo make && sudo make install"
   - "cd ../.. && sudo rm master.zip"
   - wget https://github.com/sloiza/rocksdb-travis/archive/master.zip
   - unzip master.zip
   - cd rocksdb-travis-master/ROCKS/ 
   - "make && make static_lib && sudo make install"
   - "cd ../.. && sudo rm master.zip"
   - "cd /usr/src/gtest && sudo cmake . && sudo cmake --build . && sudo mv libg* /usr/local/lib/ ; cd -"
   - sudo pip install cpp-coveralls

before_script:
  - mkdir servidor/build
script: 
  - "cd servidor/build && cmake -DINCLUIR_TEST=ON .. && make && make test"

after_success:
  - coveralls --exclude lib --exclude tests --gcov-options '\-lp'